/* reset */
button {
  all: unset;
}
.container {
  display: flex;
  align-items: center;
}
.CheckboxRoot {
  border: 2px solid var(--color-light-900);
  width: 18px;
  height: 18px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 10px var(--color-accent-500);
  .CheckboxIndicator {
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-dark-900);
    background-color: #fff;
  }
}
//
//.wrapper {
//  display: flex;
//  flex-shrink: 0;
//  align-items: center;
//  justify-content: center;
//  width: 36px;
//  height: 36px;
//}

.CheckboxRoot:hover {
  //background-color: var(--color-danger-300);
}

.CheckboxRoot:focus {
  box-shadow: 0 0 0 2px black;
}

.Label {
  color: white;
  padding-left: 15px;
  font-size: 15px;
  line-height: 1;
}
