.root {
  display: flex;
  flex-direction: column;
  margin: 0 20px;

  & span {
    color: var(--color-dark-100);
  }

  .spanError {
    color: var(--color-danger-300);
  }
}

.textFieldWrapper {
  position: relative;
}

.textField {
  padding: 6px 12px;
  width: 100%;
  background-color: inherit;
  height: 36px;
  border: 1px solid var(--color-dark-300);
  border-radius: 2px;

  &:focus-visible {
    border-color: var(--color-info-700);
    outline: 1px solid var(--color-info-700);
  }
  &::placeholder {
    color: var(--color-dark-100);
  }
}

.error {
  color: var(--color-danger-300);
  border-color: var(--color-danger-300);
}

.search {
  padding: 6px 41px;
}

.searchIcon {
  position: absolute;
  top: 8px;
  left: 12px;
}

.showPasswordButton {
  position: absolute;
  top: 8px;
  bottom: 8px;
  right: 12px;
  background: none;
  border: none;
  cursor: pointer;
}
