.input {
  outline: none;
  position: relative;
  height: 36px;
  width: 284px;
  cursor: pointer;
  font-family: inherit;
  border-radius: 2px;
  font-size: 16px;
  //background-color: inherit;
  background: transparent;
  border: 1px solid var(--color-dark-300);
  outline: 0;
  &:focus-visible {
    border: 1px solid var(--color-info-700);
    outline: 1px solid var(--color-info-700);
  }

  &:hover {
    border: 1px solid var(--color-dark-100);
    background: var(--color-dark-700);
    z-index: 0;
  }

  &:active {
    border: 1px solid var(--color-light-100);
    background-color: transparent;
  }
}

.container {
  position: relative;
  width: 100%;
}

.inputSearch {
  padding-left: 41px;

  &:active {
  }
}

.search {
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 0;
  transform: translateY(-50%);

  width: 20px;
  height: 20px;
  margin-left: 12px;
  padding: 0;

  background: transparent;
  border: 0;
  outline: 0;
  z-index: 1;

  &:focus-visible {
    outline: var(--outline-focus);
  }
}

.default {
  border: 1px solid var(--color-dark-300);
}

.active {
  background-color: var(--color-light-100);
}

.error {
  border: 1px solid var(--color-danger-300);
}

.hover {
}

.focus {
}

.disabled {
}

.eye {
  border: none;
  outline: none;
  position: absolute;
  top: 6px;
  right: 8px;
  background-color: transparent;
}
